## Hopuse Price Prediction  System

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('Bengaluru_House_Data.csv')
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
data.shape

(13320, 9)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
data.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [6]:
data.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [7]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [9]:
data['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [10]:
data['location']=data['location'].fillna('Sarjapur  Road')

In [11]:
data['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [12]:
data['size']=data['size'].fillna('2 BHK')

In [13]:
data['bath']=data['bath'].fillna(data['bath'].median())

In [14]:
data.isna().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [15]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)

In [16]:
data[data['bhk']>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [17]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [18]:
def convertRange(x):
    temp=x.split('-')
    if len(temp)==2:
        return (float(temp[0])+float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [19]:
data['total_sqft']=data['total_sqft'].apply(convertRange)

In [20]:
data.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [21]:
data['price_per_sqft']=data['price']*100000/data['total_sqft']

In [22]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [23]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [24]:
data['location']=data['location'].apply(lambda x: x.strip())

In [25]:
location_count=data['location'].value_counts()

In [26]:
location_count_less_10=location_count[location_count<=10]

In [27]:
location_count_less_10

Dairy Circle                      10
Nagappa Reddy Layout              10
Basapura                          10
1st Block Koramangala             10
Sector 1 HSR Layout               10
                                  ..
Bapuji Layout                      1
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
singapura paradise                 1
Abshot Layout                      1
Name: location, Length: 1053, dtype: int64

In [28]:
data['location']=data['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

#### Outlier Detection and Removal

In [29]:
backup=data.copy()

In [30]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [31]:
data=data[((data['total_sqft']/data['bhk'])>=300)]

In [32]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [33]:
data.shape

(12530, 7)

In [34]:
def remove_outliers_sqft(df):
    df_output=pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m=np.mean(df['price_per_sqft'])
        st=np.std(df['price_per_sqft'])

        gen_df=subdf[(subdf['price_per_sqft']>(m-st))&(subdf['price_per_sqft']<=(m+st))]
        df_output=pd.concat([df_output,gen_df],ignore_index=True)
    return df_output

In [35]:
data.groupby('location').mean()

C:\Users\ariji\AppData\Local\Temp\ipykernel_17032\2379751625.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('location').mean()

,total_sqft,bath,price,bhk,price_per_sqft
location,,,,,
1st Block Jayanagar,1915.000000,3.100000,254.100000,3.200000,12359.253758
1st Phase JP Nagar,1800.695652,3.043478,172.369565,2.956522,9726.405918
2nd Phase Judicial Layout,1173.272727,2.090909,46.181818,2.454545,4048.701183
2nd Stage Nagarbhavi,2127.777778,4.666667,270.111111,4.555556,14381.275720
5th Block Hbr Layout,2112.571429,3.142857,125.428571,3.428571,6622.120076
...,...,...,...,...,...
Yelahanka,1782.266827,2.451923,84.144303,2.519231,5177.606819
Yelahanka New Town,1215.526316,1.868421,89.118421,2.105263,5860.659870
Yelenahalli,1268.461538,2.153846,50.799231,2.230769,4012.550871
Yeshwanthpur,1454.343750,2.400000,97.079313,2.437500,6620.544179
other,1765.646958,2.711042,148.184346,2.800705,7468.571478

In [36]:
data=remove_outliers_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  11350.000000  11350.000000  11350.000000  11350.000000    11350.000000
mean    1493.093089      2.457709     84.170656      2.566784     5370.436719
std      858.454421      0.976560     67.273009      0.902649     1664.253060
min      300.000000      1.000000     10.000000      1.000000     2149.277061
25%     1100.000000      2.000000     47.250000      2.000000     4125.000000
50%     1275.000000      2.000000     65.000000      2.000000     5093.969415
75%     1630.000000      3.000000     97.000000      3.000000     6363.636364
max    30400.000000     16.000000   2100.000000     16.000000    10458.333333

In [37]:
def remove_outliers_bbhk(df):
    exclude_indices=np.array([])
    for key,location_df in df.groupby('location'):
        bhk_status={}
        for bhk,bhk_df in location_df.groupby('bhk'):
            bhk_status[bhk]={
                'mean':np.mean(bhk_df['price_per_sqft']),
                'std':np.std(bhk_df['price_per_sqft']),
                'count':bhk_df.shape[0]
            }
        for bhk,bhk_df in location_df.groupby('bhk'):
            stats=bhk_status.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices=np.append(exclude_indices,bhk_df[bhk_df['price_per_sqft']<(stats['mean'])].index.values)
        return df.drop(exclude_indices,axis='index')

In [38]:
data=remove_outliers_bbhk(data)

In [39]:
data.shape

(11350, 7)

In [40]:
data.drop(columns=['size','price_per_sqft'],inplace=True)

In [41]:
data.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      1000.0   3.0   60.0    2
1  1st Block Jayanagar      1760.0   3.0  115.0    3
2   1st Phase JP Nagar      2825.0   4.0  250.0    4
3   1st Phase JP Nagar      1875.0   3.0  167.0    3
4   1st Phase JP Nagar      1500.0   5.0   85.0    5

In [42]:
data.to_csv('cleaned_data.csv')

In [43]:
x=data.drop(columns=['price'])
y=data['price']

In [44]:
from sklearn.model_selection import train_test_split,GridSearchCV
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [45]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor,ExtraTreesRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from xgboost import XGBRegressor
from sklearn.metrics import r2_score

In [46]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder,StandardScaler
ohe=OneHotEncoder()
ohe.fit(data[['location']])

OneHotEncoder()

In [47]:
ohe.categories_

[array(['1st Block Jayanagar', '1st Phase JP Nagar',
        '2nd Phase Judicial Layout', '2nd Stage Nagarbhavi',
        '5th Block Hbr Layout', '5th Phase JP Nagar', '6th Phase JP Nagar',
        '7th Phase JP Nagar', '8th Phase JP Nagar', '9th Phase JP Nagar',
        'AECS Layout', 'Abbigere', 'Akshaya Nagar', 'Ambalipura',
        'Ambedkar Nagar', 'Amruthahalli', 'Anandapura', 'Ananth Nagar',
        'Anekal', 'Anjanapura', 'Ardendale', 'Arekere', 'Attibele',
        'BEML Layout', 'BTM 2nd Stage', 'BTM Layout', 'Babusapalaya',
        'Badavala Nagar', 'Balagere', 'Banashankari',
        'Banashankari Stage II', 'Banashankari Stage III',
        'Banashankari Stage V', 'Banashankari Stage VI', 'Banaswadi',
        'Banjara Layout', 'Bannerghatta', 'Bannerghatta Road',
        'Basavangudi', 'Basaveshwara Nagar', 'Battarahalli', 'Begur',
        'Begur Road', 'Bellandur', 'Benson Town', 'Bharathi Nagar',
        'Bhoganhalli', 'Billekahalli', 'Binny Pete', 'Bisuvanahalli',
        'Bommanahalli', 'Bommasandra', 'Bommasandra Industrial Area',
        'Bommenahalli', 'Brookefield', 'Budigere', 'CV Raman Nagar',
        'Chamrajpet', 'Chandapura', 'Channasandra', 'Chikka Tirupathi',
        'Chikkabanavar', 'Chikkalasandra', 'Choodasandra', 'Cooke Town',
        'Cox Town', 'Dasanapura', 'Dasarahalli', 'Devanahalli',
        'Devarachikkanahalli', 'Dodda Nekkundi', 'Doddaballapur',
        'Doddakallasandra', 'Doddathoguru', 'Domlur', 'Dommasandra',
        'EPIP Zone', 'Electronic City', 'Electronic City Phase II',
        'Electronics City Phase 1', 'Frazer Town', 'GM Palaya',
        'Garudachar Palya', 'Giri Nagar', 'Gollarapalya Hosahalli',
        'Gottigere', 'Green Glen Layout', 'Gubbalala', 'Gunjur',
        'HAL 2nd Stage', 'HBR Layout', 'HRBR Layout', 'HSR Layout',
        'Haralur Road', 'Harlur', 'Hebbal', 'Hebbal Kempapura',
        'Hegde Nagar', 'Hennur', 'Hennur Road', 'Hoodi', 'Horamavu Agara',
        'Horamavu Banaswadi', 'Hormavu', 'Hosa Road', 'Hosakerehalli',
        'Hoskote', 'Hosur Road', 'Hulimavu', 'ISRO Layout', 'ITPL',
        'Iblur Village', 'Indira Nagar', 'JP Nagar', 'Jakkur', 'Jalahalli',
        'Jalahalli East', 'Jigani', 'Judicial Layout', 'KR Puram',
        'Kadubeesanahalli', 'Kadugodi', 'Kaggadasapura', 'Kaggalipura',
        'Kaikondrahalli', 'Kalena Agrahara', 'Kalyan nagar', 'Kambipura',
        'Kammanahalli', 'Kammasandra', 'Kanakapura', 'Kanakpura Road',
        'Kannamangala', 'Karuna Nagar', 'Kasavanhalli', 'Kasturi Nagar',
        'Kathriguppe', 'Kaval Byrasandra', 'Kenchenahalli', 'Kengeri',
        'Kengeri Satellite Town', 'Kereguddadahalli', 'Kodichikkanahalli',
        'Kodigehaali', 'Kodigehalli', 'Kodihalli', 'Kogilu', 'Konanakunte',
        'Koramangala', 'Kothannur', 'Kothanur', 'Kudlu', 'Kudlu Gate',
        'Kumaraswami Layout', 'Kundalahalli', 'LB Shastri Nagar',
        'Laggere', 'Lakshminarayana Pura', 'Lingadheeranahalli',
        'Magadi Road', 'Mahadevpura', 'Mahalakshmi Layout', 'Mallasandra',
        'Malleshpalya', 'Malleshwaram', 'Marathahalli', 'Margondanahalli',
        'Marsur', 'Mico Layout', 'Munnekollal', 'Murugeshpalya',
        'Mysore Road', 'NGR Layout', 'NRI Layout', 'Nagarbhavi',
        'Nagasandra', 'Nagavara', 'Nagavarapalya', 'Narayanapura',
        'Neeladri Nagar', 'Nehru Nagar', 'OMBR Layout', 'Old Airport Road',
        'Old Madras Road', 'Padmanabhanagar', 'Pai Layout', 'Panathur',
        'Parappana Agrahara', 'Pattandur Agrahara', 'Poorna Pragna Layout',
        'Prithvi Layout', 'R.T. Nagar', 'Rachenahalli',
        'Raja Rajeshwari Nagar', 'Rajaji Nagar', 'Rajiv Nagar',
        'Ramagondanahalli', 'Ramamurthy Nagar', 'Rayasandra',
        'Sahakara Nagar', 'Sanjay nagar', 'Sarakki Nagar', 'Sarjapur',
        'Sarjapur  Road', 'Sarjapura - Attibele Road',
        'Sector 2 HSR Layout', 'Sector 7 HSR Layout', 'Seegehalli',
        'Shampura', 'Shivaji Nagar', 'Singasandra', 'Somasundara Palya',
        'Sompura', 'Sonnenahalli', 'Subramanyapura', 'Sultan Palaya',
        'TC Palaya', 'Talaghattapura', 'Thanisandra', 'Thigalarapalya',
        'Thubarahalli', 'Thyagaraja Nagar', 'Tindlu', 'Tumkur Road',
        'Ulsoor', 'Uttarahalli', 'Varthur', 'Varthur Road', 'Vasanthapura',
        'Vidyaranyapura', 'Vijayanagar', 'Vishveshwarya Layout',
        'Vishwapriya Layout', 'Vittasandra', 'Whitefield',
        'Yelachenahalli', 'Yelahanka', 'Yelahanka New Town', 'Yelenahalli',
        'Yeshwanthpur', 'other'], dtype=object)]

In [48]:
col=make_column_transformer(
    (OneHotEncoder(categories=ohe.categories_,sparse=False),['location']),
    (StandardScaler(),['total_sqft','bath','bhk']),
    remainder='passthrough'
)

In [49]:
from sklearn.pipeline import make_pipeline
regressor=[
    ['LinearRegression',LinearRegression(normalize=True)],
    ['Lasso Regression',Lasso()],
    ['Ridge Regression',Ridge()],
    ['DecisionTreeRegressor',DecisionTreeRegressor()],
    ['RandomForestRegressor',RandomForestRegressor()],
    ['AdaBoostRegressor',AdaBoostRegressor()],
    ['GradientBoostingRegressor',GradientBoostingRegressor()],
    ['ExtraTreesRegressor',ExtraTreesRegressor()],
    ['KNeighborsRegressor',KNeighborsRegressor()],
    ['SVR',SVR()],
    ['XGBRegressor',XGBRegressor()],
]
for name,clf in regressor:
    pipe=make_pipeline(col,clf)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    print(f'{name} : {r2_score(y_test,y_pred)}')

c:\Python311\Lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

LinearRegression : -1.0097442801762586e+24
Lasso Regression : 0.7848007917545774
Ridge Regression : 0.8143026034466014
DecisionTreeRegressor : 0.7551173999985301
RandomForestRegressor : 0.8193810095161984
AdaBoostRegressor : 0.7684656598698378
GradientBoostingRegressor : 0.823783133540278
ExtraTreesRegressor : 0.8049848380136313
KNeighborsRegressor : 0.8086867796339269
SVR : 0.6451034313991406
XGBRegressor : 0.8397502268484502

In [50]:
pipe=make_pipeline(col,XGBRegressor())

In [51]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['1st Block Jayanagar', '1st Phase JP Nagar',
       '2nd Phase Judicial Layout', '2nd Stage Nagarbhavi',
       '5th Block Hbr Layout', '5th Phase JP Nagar', '6th Phase JP Nagar',
       '7th Phase JP Nagar', '8th Phase JP Nagar', '9th Phase JP Nagar',
       'AECS Layout',...
                              feature_types=None, gamma=None, gpu_id=None,
                              grow_policy=None, importance_type=None,
                              interaction_constraints=None, learning_rate=None,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=None, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, n_estimators=100,
                              n_jobs=None, num_parallel_tree=None,
                              predictor=None, random_state=None, ...))])

In [52]:
pipe.predict(pd.DataFrame([['1st Phase JP Nagar',2825,4,2]],columns=['location','total_sqft','bath','bhk']))

array([228.89851], dtype=float32)

In [53]:
import pickle
pickle.dump(pipe,open('model.pkl','wb'))